.page-sidebar .fa.small-font {
    font-size: 2em;
    color:lightgray;
    margin-right:3px;
}
.page-content .fa.small-font {
    font-size: 8em;
    color: lightgray;    
}
.page-sidebar .fa-fw {
    width: 1.5em;
    font-size: 1.5em;
    color: lightgrey;
    position: relative;
    left: -2px;
}
.page-sidebar .material-icons {
    width: 1.2em;
    color: lightgrey;
    position: relative;
    left: -2px;
}

.page-sidebar .letter-icon {
    font-size: 1.5em;
    color: lightgrey;
    position: relative;
    left: 6px;
    padding-right: 17px;    
}
.list-box .summary {
    color:lightgray;
    text-align: left;
}